[user]
	name = EmileVezinaCoulombe
	email = emilevezinacoulombe@icloud.com
[alias]
	fame = !python -m gitfame
	fza = !git ls-files -m -o --exclude-standard | fzf --print0 -m | xargs -0 -t -o git add
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[init]
	templatedir = /home/emile/.git-templates
	defaultBranch = main
[color]
    ui = true
[core]
    editor = nvim
    pager = diff-so-fancy | less --tabs=4 -RFX
    excludesfile = ~/.config/git/ignore
[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = yellow bold 52
    newNormal = green bold
    newHighlight = cyan bold 22
[color "diff"]
    meta = 11
    frag = magenta bold
    func = 146 bold
    commit = cyan bold
    old = red bold
    new = green bold
    whitespace = red reverse
[diff]
	submodule = log
[merge]
    tool = nvim
